# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store


# Private File
*.ipynb
*.csv
*png
*.db
/AlexUnet.py
.git/
.idea/
.pytest_cache/
augmented_images/
image_classifier/
labeled_images/
low_accuracy_images/
/203a_skin_cancer_lesion_classification_V4.0_autokeras.py
/Try.py
/Unet_Skin_Cancer_Classification.py